<%= form_for(@quest) do |f| %>
  <% if @quest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quest.errors.count, "error") %> prohibited this quest from being saved:</h2>

      <ul>
      <% @quest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title,:class=>"hide" %>
    <%= f.text_area :title, :placeholder=>"Describe your quest - (e.g : Find the place place to eat nasi lemak) " %>
  </div>
  <div class="field innerpad">
    <%= f.label :city_id, "Scope of location"  %>
    <%= f.select :city_id, City.all.map { |c| [c.name, c.id]} %>
  </div>
  <div class="field innerpad">
    <%= f.label :duration, "Duration to complete" %>
     <%= f.select :duration, [1,7,14,30] %> days
  </div>
  <div class="actions">
    <%= f.submit 'Initiate this quest!', :class => "btn orange" %>
  </div>
<% end %>
