<%= form_for(@quest) do |f| %>
  <% if @quest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quest.errors.count, "error") %> prohibited this quest from being saved:</h2>

      <ul>
      <% @quest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title,:class=>"hide" %>
    <%= f.text_area :title, :placeholder=>"Describe your quest - (e.g : Find the best place place to eat nasi lemak) " %>
  </div>
  <div class="field innerpad">
    <%= f.label :city_id, "Scope of location for the Qwest"  %>
    <%= f.select :city_id, City.all.map { |c| [c.name, c.id]} %>
  </div>
  <div class="field innerpad">
    <%= f.label :duration, "Duration to complete the Qwest" %>
     <%= f.select :duration, [['1 day',1],['7 days',7],['14 days',14],['30 days',30]]  %>
  </div>
  <div class="field innerpad">
    <%= f.label :bounty, "Bounty reward" %>
    <%= f.select :bounty, [['No bounty',0],['5 CP',5],['10 CP',10],['50 CP',50]]  %>
  </div>
  <div class="actions">
    <%= f.submit 'Initiate this quest!', :class => "btn orange" %>
  </div>
<% end %>
