<div class="topbar">
<%= link_to 'Back','#', :class=>"topbar-btn topbar-back fleft" %>
<span class="toplogo">Qwest</span>

<%= link_to 'Back','#', :class=>"topbar-btn topbar-back fright" %>
<div class="clear"></div>
</div>

<h4>Listing quests</h4>

<ul class="edgetoedge">
  <% @quests.each do |quest| %>
    <li class="arrow">
	  <%= link_to(quest_path(quest)) do %>
        <%= quest.title %>
        <%= quest.votes_count %>
        <%= quest.city.name %><br />
        <%= quest.expired_at %>
        <%= quest.user.username %>
	  <% end %>
    </li>
  <% end %>
</ul>
<%= link_to 'New Quest', new_quest_path %>
