<div class="topbar clearfix">
  <%= link_to_function "Back", "history.back()", :class=>"topbar-btn topbar-back fleft" %>
  <span class="toplogo">Qwest</span>
  <%= link_to '+', new_quest_path , :class => "topbar-btn topbar-add fright" %>
</div>

<ul class="tabs tab-2">
  <li><a href="#popular" class="tab-btn">Popular</a></li>
  <li><a href="#latest" class="tab-btn">Latest</a></li>
</ul>

<div class="tab_container">
  <div class="tab_content" id="popular">
    <ul class="quest-list">
      <% @quests.each do |quest| %>
        <li>
    	  <%= link_to(quest_path(quest)) do %>
            <%= quest.bounty unless quest.bounty == 0 %>
            <%= quest.title %><br />
            <span>At <%= quest.city.name %> by <%= quest.user.username %></span><br />
            <strong><%= distance_of_time_in_words(Time.now, quest.expired_at) %> left</strong>
    	  <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="tab_content" id="latest">
    <ul class="quest-list">
      <% @quests.each do |quest| %>
        <li>
    	  <%= link_to(quest_path(quest)) do %>
            <%= quest.title %><br />
            <span>At <%= quest.city.name %> by <%= quest.user.username %></span><br />
            <strong><%= distance_of_time_in_words(Time.now, quest.expired_at) %> left</strong>
    	  <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>