<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @quest.title %>
</p>

<p>
  <b>Votes:</b>
  <%= @quest.votes_count %>
</p>

<p>
  <b>Location:</b>
  <%= @quest.city.name %>
</p>

<p>
  <b>Expired at:</b>
  <%= @quest.expired_at %>
</p>

<p>
  <b>Created by:</b>
  <%= @quest.user.username %>
</p>

<% if logged_in? && !current_user.voted?(@quest) %>
<p>
  <%= link_to 'Vote up', votes_path('vote[user_id]' => current_user.id, 'vote[votable_id]' => @quest.id, 'vote[votable_type]' => 'Quest', 'vote[vote]' => 1), :method => :post %>
  <%= link_to 'Vote down', votes_path('vote[user_id]' => current_user.id, 'vote[votable_id]' => @quest.id, 'vote[votable_type]' => 'Quest', 'vote[vote]' => -1), :method => :post %>
</p>
<% end %>

<% if logged_in? && !current_user.participated?(@quest) %>
  <%= form_for @quest_participation do |f| %>
    <%= f.hidden_field :quest_id %>
    <%= f.hidden_field :user_id %>
  	<%= f.submit 'Participate' %>
  <% end %>
<% end %>

<%= link_to 'Back', quests_path %>
