<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @quest.title %>
</p>

<p>
  <b>Location:</b>
  <%= @quest.city.name %>
</p>

<p>
  <b>Expired at:</b>
  <%= @quest.expired_at %>
</p>

<p>
  <b>Created by:</b>
  <%= @quest.user.username %>
</p>

<% if logged_in? && !current_user.participated?(@quest) %>
  <%= form_for @quest_participation do |f| %>
    <%= f.hidden_field :quest_id %>
    <%= f.hidden_field :user_id %>
  	<%= f.submit 'Participate' %>
  <% end %>
<% end %>

<%= link_to 'Back', quests_path %>
