<div class="topbar">
   <%= link_to_function "Back", "history.back()", :class=>"topbar-btn topbar-back fleft" %>
  <span class="toplogo"><%= link_to 'Qwest', root_path %></span>
 </div>

<div class="profile-page">
  <%= user_fb_picture(@user, "square", :class => 'avatar fleft') %>
  <div class="profile-info">
    <p class="username"><%= @user.name %> <span>(<%= @user.username %></span>)</p>
     <p class="location">Petaling Jaya, Selangor</p>
  </div>
  <div class="clear"></div>
  <p class="stat fleft"><%= @user.cp %> points</p>
  <p class="stat fright" id="badge-stat">2 badges</p>
  <div class="clear"></div>
</div>
<div class="badges">
  <ul>
    <li>
      <%= image_tag("/images/badges/first-quest.png") %>
      <p><strong>First Quest</strong> <br /> <span class="meta-text">awarded on 31 Jul 2011</span></p>
    </li>
    <li>
      <%= image_tag("/images/badges/first-participate.png") %>
      <p><strong>First Participation</strong> <br /> <span class="meta-text"> awarded on 31 Jul 2011</span></p>
    </li>
  </ul>
</div>

<ul class="tabs tab-3">
  <li><a href="#accomplished" class="tab-btn">Accomplished</a></li>
  <li><a href="#participating" class="tab-btn">Participating</a></li>
  <li><a href="#created" class="tab-btn">Created</a></li>
</ul>

<div class="tab_container">
  <div id="accomplished" class="tab_content">
    <ul class="quest-list">
      <% @user.quest_entries.status_won.each do |qp| %>
        <li>
        <%= link_to(quest_path(qp.quest)) do %>
            <%= qp.quest.title %><br />
            <strong>About <%= distance_of_time_in_words(Time.now, qp.quest.expired_at) %> left</strong>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div id="participating" class="tab_content">
    <ul class="quest-list">
      <% @user.quest_entries.status_not_won.each do |qp| %>
        <li>
        <%= link_to(quest_path(qp.quest)) do %>
            <%= qp.quest.title %><br />
            <strong>About <%= distance_of_time_in_words(Time.now, qp.quest.expired_at) %> left</strong>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div id="created" class="tab_content">
    <ul class="quest-list">
      <% @user.quests.each do |quest| %>
        <li>
        <%= link_to(quest_path(quest)) do %>
            <%= quest.title %><br />
            <strong>About <%= distance_of_time_in_words(Time.now, quest.expired_at) %> left</strong>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>