<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @vote.user_id %>
</p>

<p>
  <b>Votable:</b>
  <%= @vote.votable_id %>
</p>

<p>
  <b>Votable type:</b>
  <%= @vote.votable_type %>
</p>

<p>
  <b>Vote:</b>
  <%= @vote.vote %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
