<!DOCTYPE html>
<!-- conditional comment for mobile ie7 -->
<!--[if IEMobile 7 ]>    <html class="no-js iem7" manifest="default.appcache?v=1"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js" manifest="default.appcache?v=1"> <!--<![endif]-->

<head>
  <meta charset="utf-8">

  <title>Qwest - Hackweekend</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimization http://goo.gl/b9SaQ -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320"/>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="/images/apple-touch-icon.png">
  <meta http-equiv="cleartype" content="on">
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
   <%= csrf_meta_tag %>
</head>

<body class="<%= controller_name %> <%= action_name %>">

		<%= yield %>

</body>
</html>
